<ion-view view-title="Dépenses">
  <ion-content>


    <form ng-submit="create()">

        <label class="item item-input">
          <span class="input-label">Titre</span>
          <input type="text" ng-model="project.title">
        </label>


        <button class="button" type="submit">
          Créer
        </button>

    </form>


    <br/>

    <ul ng-repeat="(projectId, project) in expenses">
      <li><a ng-click="delete(projectId)">{{project.title}} - {{project.date | date:'medium'}}</a></li>
    </ul>



  </ion-content>
</ion-view>
