<ion-view view-title="{{pageTitle}}">
    <ion-content>


        <label class="item item-input">
            <span class="input-label">Titre</span>
            <input type="text" ng-model="project.name">
        </label>

        <div class="members" ng-show="projectId !== undefined">
            <h3>Participants</h3>
            <div>
                <div ng-repeat="(memberId,member) in project.members">
                    <label class="item item-input">
                        <span class="input-label">Nom</span>
                        <input type="text" ng-model="member.name">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Parts</span>
                        <input type="number" ng-model="member.defaultShare">
                    </label>
                    <button class="button" ng-click="project.removeMember(memberId)">
                        Supprimer
                    </button>
                </div>
            </div>

            <div>


                <button class="button" ng-show="projectId !== undefined" ng-click="addMember()">
                    Ajouter Participant
                </button>

            </div>

        </div>

        <button class="button" ng-show="projectId !== undefined" ng-click="deleteProject(project)">
            Supprimer
        </button>
        <button class="button" ng-show="projectId !== undefined" ng-click="updateProject(project)">
            Mettre à jour
        </button>
        <button class="button" ng-show="projectId === undefined" ng-click="createProject(project)">
            Créer
        </button>


    </ion-content>
</ion-view>
